
<style>
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');
</style>
*{
    font-family: 'Mulish', sans-serif;
}

.header{
    align-items: center;
}


.nav{
    display: flex;
    justify-content: space-between;
    margin:52px 135px 5px 135px ;
    /* margin-right: 135; */
}
nav .logo{
    display: flex;
}
nav .logo img{
    /* height: 56px; */
    /* width: 48px; */
}
nav .logo h2{
   margin-left: 16px;
    /* font-size: 36px; */
}
nav>ul{
    display: flex;
}
nav li{
list-style: none;
margin-right: 30px;
}
nav li a{
    text-decoration: none;
}


